<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item1</key>
	<dict>
		<key>recipe</key>
		<string>Bí quyết làm bánh chưng ngon và xanh tự nhiên
Gói bánh chưng ngon, luộc bánh chưng xanh ngày Tết cần có những bí quyết riêng. Sau đây là công đoạn và bí quyết để có một nồi bánh chưng ngon mà bạn cần biết. Cùng tham khảo với chúng tôi nhé!

1. Chọn lá dong xanh

Lá dong được rửa sạch và để ráo nước Bí quyết đầu tiên giúp bạn luộc bánh chưng xanh và ngon là cách chọn lá dong. Nên chọn lá dong không to quá cũng không nhỏ quá. Lá dong không non quá mà cũng đừng già quá. Nhìn lá bóng, xanh đậm, cuống nhỏ. Khi chọn được lá dong ưng ý, đem rửa sạch sẽ, phơi chỗ thoáng gió. Không phơi quá khô mà chỉ cần ráo nước là được. Lá dong khi bắt đầu gói bánh chưng, bạn nên lau khô kho lá dong nhé!

Bí quyết đầu tiên giúp bạn luộc bánh chưng xanh và ngon là cách chọn lá dong. Nên chọn lá dong không to quá cũng không nhỏ quá. Lá dong không non quá mà cũng đừng già quá. Nhìn lá bóng, xanh đậm, cuống nhỏ. Khi chọn được lá dong ưng ý, đem rửa sạch sẽ, phơi chỗ thoáng gió. Không phơi quá khô mà chỉ cần ráo nước là được. Lá dong khi bắt đầu gói bánh chưng, bạn nên lau khô kho lá dong nhé!

2. Chọn gạo nếp



Gạo nếp để gói bánh chưng ngon phải là loại nếp mùa hay nếp cái hoa vàng, hạt bóng mẩy và đều nhau. Gạo ngâm khoảng 10 - 12 giờ bằng nước lạnh sau đó vo qua, để ráo nước và xóc muối trắng lượng vừa phải cho thêm vị đậm đà. Đặc trưng của bánh chưng là vị mặn của gạo nếp, vị thơm của đỗ, vị thơm và béo ngậy của thịt… vì vậy cần chú ý cho lượng muối vừa đủ với số lượng gạo và đồng đều với đỗ, thịt. Nếu bạn muốn gạo nếp được xanh, và thơm hơn, bạn có thể dùng lá nếp xay nhỏ lấy nước cốt màu xanh để ngâm gạo nếp. Gạo nếp được ngâm nước lá nếp sẽ trở nên thơm và xanh cực đẹp khi gói bánh chưng đấy!.
3. Chọn đỗ xanh

Đỗ xanh là phần nhân nằm gần tâm bánh chưng (phần thịt). Bạn có thể mua đỗ đã tách vỏ hoặc chưa tách vỏ. Nếu mua đỗ đã tách vỏ bạn chỉ cần ngâm đỗ, nhưng đỗ chưa tách thì bạn cần ngâm để đỗ tróc vỏ và đãi sạch vỏ đỗ.
Dù phải tách vỏ và mất thời gian, nhưng một trong những bí quyết để gói bánh chưng ngon là bạn nên dùng đỗ xanh còn nguyên vỏ để có độ thơm, ngon và vệ sinh. Mầu vàng óng của hạt đỗ tượng trưng cho một năm mới tràn trề tài lộc, thịnh vượng.
4. Lạt buộc
Chọn những đốt giang dài từ 70-90 cm, cạo vỏ ngoài, sau đó chẻ từng miếng đều nhau. Nên ngâm ống giang trước khi chẻ để có độ mềm, còn khi chẻ thành lạt thì phơi khô để khi gói bánh sẽ chắc tay, mềm và dễ buộc. Chọn lạt giang giúp cho bánh chưng được buộc mềm dẻo mà chắc, đó cũng chính là bí quyết gói bánh chưng ngon mà bạn cần biết.

5. Hành khô và thịt

Để gói bánh chưng ngon, không thể thiếu thịt và hành khô. Hành khô bóc sạch vỏ, thái nhỏ. Hạt tiêu tự xay hoặc mua tại chợ. Nhân bánh là thịt lợn có cả nạc và mỡ (thường là thịt ba chỉ). Mỡ thịt để cho bánh béo ngậy như sự khỏe mạnh của gia chủ, nạc đỏ hồng mang nhiều niềm vui cho năm mới. Thịt thái miếng to đều, ướp gia vị vừa đủ, rắc ít hạt tiêu để thêm hương nồng nàn và đặc biệt sau khi bánh chín sẽ có mùi thơm và vị cay nhẹ. Một điều chú ý là bạn không nên cho mắm để ướp thịt gói bánh chưng, bởi cho mắm



Để gói bánh chưng ngon, không thể thiếu thịt và hành khô. Hành khô bóc sạch vỏ, thái nhỏ. Hạt tiêu tự xay hoặc mua tại chợ. Nhân bánh là thịt lợn có cả nạc và mỡ (thường là thịt ba chỉ). Mỡ thịt để cho bánh béo ngậy như sự khỏe mạnh của gia chủ, nạc đỏ hồng mang nhiều niềm vui cho năm mới.
Thịt thái miếng to đều, ướp gia vị vừa đủ, rắc ít hạt tiêu để thêm hương nồng nàn và đặc biệt sau khi bánh chín sẽ có mùi thơm và vị cay nhẹ. Một điều chú ý là bạn không nên cho mắm để ướp thịt gói bánh chưng, bởi cho mắm vào thịt sẽ khiến bánh chưng gói xong không để được lâu đâu nhé!
6. Cách gói bánh chưng bằng tay và bằng khuôn

Khi chuẩn bị nguyên liệu xong xuôi là đến khâu gói bánh. Người có kinh nghiệm thì gói bằng tay, hoặc gói bằng khuôn. Một chiếc bánh cho khoảng 5 – 6 lá dong, còn gạo và nhân bánh tùy thuộc vào độ lớn của chiếc bánh cần gói.

Đặt 2 lá dong ở 2 góc so le, cho 1 bát ăn cơm gạo, lấy 1/2 nắm đậu xanh dàn mỏng đều lên gạo, xếp 2 miếng thịt vào giữa rồi tiếp tục cho nốt phần đậu xanh còn lại, phủ nốt gạo lên trên cùng, bẻ gập lá gói vuông, cao thành, buộc lạt chéo chữ thập. Gói bánh theo công thức: 02 lần gạo nếp, 02 lần nhân đậu, 02 miếng thịt, hành ở giữa.



Bánh gói kín, vuông, đều, đẹp, rền. Khi bóc, bánh có màu xanh của lá dong, vị thơm ngon của đậu xanh, thịt, hạt tiêu, vị vừa ăn.
7. Luộc bánh chưng

Luộc bánh chưng là khâu quan trọng nhất vì luộc bánh chưng mất nhiều thời gian và công sức. Chú ý khi luộc nhớ chèn chặt bánh để khỏi bị vỡ vì khi đun bánh nở ra. Các lá bánh còn thừa cho cả vào nồi cho thêm hương và giữ nhiệt khi đun.
Thường luộc bánh bằng củi sẽ thơm ngon và nhừ hơn bằng các loại khác. Trước khi xếp bánh vào luộc, bạn nhớ xếp dưới đáy nồi lạt hoặc các sống lá dong để chèn ở dưới. Hành động này giúp cho bánh chưng không bị cháy ở đáy nồi, làm nước luộc còn xanh hơn nữa. Nồi bánh phải đủ lửa để nước luôn sôi, không bao giờ được thiếu nước nên có thùng tiếp nước bên cạnh. Bạn không được đổ nước lạnh vào khi tiếp nước cho nồi bánh chưng, nước lạnh sẽ làm bánh nửa chín nửa sống, bị lại gạo sau này.
Nồi bánh phải đủ lửa để nước luôn sôi, không bao giờ được thiếu nước nên có thùng tiếp nước bên cạnh. Bạn không được đổ nước lạnh vào khi tiếp nước cho nồi bánh chưng, nước lạnh sẽ làm bánh nửa chín nửa sống, bị lại gạo sau này.</string>
		<key>name</key>
		<string>Bánh Trưng</string>
		<key>photo</key>
		<string>banhtrung</string>
	</dict>
	<key>Item2</key>
	<dict>
		<key>recipe</key>
		<string>Nguyên liệu làm mứt rau câu ngon – độc – lạ:

– 1 gói bột rau câu (bạn có thể tìm mua ở các tiệm tạp hóa, siêu thị).

– Đường.

– Nước.

– 1 – 2 giọt màu thực phẩm (bạn hãy chọn màu mà bạn yêu thích nhất nhé!).

Dụng cụ làm mứt rau câu ngon – độc – lạ:

– Nồi.

– Đũa.

– Khuôn.

– Lò nướng.

– Khay nướng.

– Giấy bạc.

Cách làm mứt rau câu ngon – độc – lạ:

Bước 1:

– Cho đường và nước vào nồi, sau đó đổ từ từ bột rau câu vào cùng, vừa đổ vừa khuấy đều để bột rau câu không bị vón cục.

Lưu ý: bạn hãy pha tỉ lệ nước và đường theo như đúng hướng dẫn trên bao bì bột rau câu, có thể giảm chút nước và thêm đường để món thạch ngọt ngào, cứng cáp hơn.

Bước 2:

– Đặt nồi hỗn hợp bột rau câu lên bếp, đun sôi trong khoảng 2 phút thì hớt bỏ bọt trong nồi rồi tắt bếp.

Bước 3:

– Bạn muốn làm bao nhiêu màu thì chia phần thạch rau câu đã đun thành bấy nhiêu phần. Đổ từng phần nước thạch đã đun sôi vào khay (hoặc đĩa, tô). Nhỏ 1 – 2 giọt màu thực phẩm vào, khuấy đều để màu hòa tan (nhớ phải làm nhanh tay về thạch sẽ đông lại nhanh lắm đấy), rồi để cho rau câu nguội hẳn.

Bước 4:

– Khi rau câu đã nguội và đông lại hoàn toàn thì dùng dao cắt thành những miếng dài và dày.

Bước 5:

– Xếp từng miếng rau câu đã cắt vào trong khay nướng lót sẵn giấy bạc, sau đó cho vào lò, không đóng cửa lò và sấy ở nhiệt độ 100 độ C trong khoảng 5 – 7 phút rồi lại tắt lò đi. Khi thấy lò nguội thì lại bật lò lên và tiếp tục sấy. Lặp đi lặp lại bước này nhiều lần cho đến khi thấy mứt rau câu khô hoàn toàn và có lớp đường mỏng bám quanh là được.</string>
		<key>name</key>
		<string>Mứt</string>
		<key>photo</key>
		<string>mut</string>
	</dict>
	<key>Item3</key>
	<dict>
		<key>recipe</key>
		<string>
Gà luộc là món ăn được nhiều người yêu thích. Tuy nhiên, cách luộc gà thơm ngon, không bị nứt da thì không phải ai cũng biết. Dưới đây là hướng dẫn chi tiết để bạn có được món ăn đưa cơm cho cả gia đình mình.

Cách luộc gà thơm ngon, không bị nứt da

Luộc gà lại không hề đơn giản. Chỉ không cẩn thận một chút xíu thôi là thịt của cả con gà sẽ bị nát, bị nứt da hoặc màu không bắt mắt. Để tránh tình trạng đó, bạn hãy thực hiện theo hướng dẫn chi tiết dưới đây.

Chọn gà là khâu rất quan trọng

Bạn nên chọn mua gà ta, nếu chọn mua gà sống thì bạn nên chú ý chọn gà khoẻ mạnh, có lông bóng mượt, áp sát thân, màu lông sáng. Với gà ta đã làm sẵn, chọn con có da màu vàng nhạt tự nhiên và mỏng đều toàn thân, thịt săn chắc, phao câu nhỏ, mỡ vàng không nhiều ở phần cổ và phần đùi. Gà công nghiệp luộc thịt sẽ bị mềm bở, không giòn và ngon, vì vậy bạn nên chọn gà ta hoặc gà thả vườn.



Cho gà vào nước lạnh rồi mới đun sôi

Cho gà vào nồi ngay khi nước còn lạnh, như vậy thịt sẽ chín dần từ ngoài vào trong. Nếu để nước sôi mới cho vào, gà khó chín đều, da sẽ nứt. Nếu là gà đông lạnh, cần để rã đông hoàn toàn rồi mới luộc. Còn không, chẳng những bạn phải luộc rất lâu và không biết khi nào thịt mới chín hẳn.

Lưu ý: Khi luộc gà cần để bụng gà. Nồi luộc không lên quá to vì thời gian luộc sẽ lâu hoặc quá nhỏ sẽ làm cho gà không chín đều

Để lửa nhỏ khi thấy nước luộc gà đã sôi

Khi luộc gà chú ý để bụng gà hướng xuống dưới và đổ nước vào nồi sao cho vừa ngập cả con gà là được, chọn nồi vừa phải không to và không nhỏ quá khi luộc. Khi nước trong nồi luộc gà đã sôi, lúc này nên vặn nhỏ lửa, vì nếu để sôi sùng sục, phần thịt ở đùi sẽ co tụt lên, ra thành phẩm sẽ rất xấu. Sau khi nước sôi được khoảng 5 phút, vặn nhỏ gas hết cỡ, để trong vòng 5 phút nữa rồi tắt và đậy vung kín chừng 20 phút.

Bạn có thể thử xem gà đã chín chưa bằng cách dùng đũa chọc vào gà, nếu đũa đâm xuyên dễ dàng, nước ứa ra không có màu hồng là đã chín.

Luộc một con gà ngon và nhanh nhất khoảng 20 phút (thường là là 30 phút), nhưng để gà luộc chín đều, da vàng óng phải mất khoảng 45-60 phút (để lửa nhỏ).

Để gà luộc da vàng trông mọng, màu da vàng tươi tắn, sau khi vớt ra, nên nhúng ngay vào nồi nước sôi để nguội, nên nhớ nước lạnh càng tốt. Đến lúc gà nguội hẳn các bạn mới lấy ra đĩa. Nếu không làm như vậy, da gà sẽ bị khô và xỉn màu không đẹp. Sau đó, để thịt ráo nước một chút, dùng dùng 1 củ nghệ gọt vỏ rồi giã nhỏ vắt lấy nước trộn với phần mỡ gà đã chiên lên ra mỡ quét một lớp lên da gà, chúng ta sẽ có món gà luộc màu vàng bóng và căng mượt.</string>
		<key>name</key>
		<string>Gà luộc</string>
		<key>photo</key>
		<string>galuoc</string>
	</dict>
	<key>Item4</key>
	<dict>
		<key>recipe</key>
		<string>Cách làm cơm lam ngon, dẻo thơm như người Tây Bắc

Cơm lam là món ăn dân dã nổi tiếng của người dân vùng cao rất được ưa chuộng, đặc biệt là du khách nước ngoài. Món cơm lam được làm từ gạo nếp dẻo nấu trong ống tre nứa rất độc đáo. Cách làm cơm lam đơn giản mà cực ngon, do đó các bạn không nên bỏ qua cách làm món ăn này dưới đây nhé.

Cách làm cơm lam

Hướng dẫn cách làm cơm lam đơn giản, trước hết các bạn cần chuẩn bị những nguyên liệu cần có để làm cơm lam như sau:

Nguyên liệu làm cơm lam

Gạo nếp: 2kg
Ống tre: 1 bó
Lá chuối: 1 chiếc
Gừng: 1 củ
Hướng dẫn làm cơm lam

Bước 1 Sơ chế nguyên liệu làm cơm lam

Sau khi chuẩn bị xong nguyên liệu, cùng bắt tay vào thực hiện các bước làm món cơm lam các bạn nhé:

Đầu tiên, để cơm lam được thơm ngon và dẻo dai, bạn nên chọn gạo nếp cái hoa vàng. Sau đó vo gạo sạch bụi bẩn, ngâm vào chậu nước khoảng 6-8 giờ, vớt ra rổ để ráo nước.

Bước 2: Tiếp theo làm món cơm lam ngon, các bạn trộn gạo với gừng giã và muối, rồi đổ gạo vào ống nứa, thêm nước ngập gạo. Lưu ý không nên đổ nhiều gạo mà cách miệng ống khoảng một đoạn thích hợp để khi gạo chín sẽ nở đầy kín miệng ống.

Bước 3: Sau đó dùng lá chuối đậy kín miệng ống rồi nướng trên lửa. Khi nướng liên tục xoay ống nứa để cơm được chín đều. Đến khi thấy hơi nước bốc ra từ miệng nắp có mùi thơm là hoàn thành xongmón cơm lam các bạn nhé.

Bước 4: Cuối cùng chẻ lớp vỏ bên ngoài để lại lớp lạt mỏng. Sau đó chặt thành từng khúc, xếp ra đĩa. Khi ăn bóc vỏ và ăn cùng với thịt gà hoặc thịt lợn sẽ rất ngon.



</string>
		<key>name</key>
		<string>Cơm Lam</string>
		<key>photo</key>
		<string>comlam</string>
	</dict>
</dict>
</plist>
